@media (max-width: 620px){
    .pokemon-slider {
        padding: 30px 10px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-pokemons {
        height: 380px;
        width: 250px;
    }

    .cartao  {
        width: 100%;
        height: 100%;
    }

    .cartao .imagem-pokemon {
        width: 80%;
        max-height: 230px;
        padding: 5px;
    }

    .informacoes {
        block-size: 12%;
    }

    .btn-img {
        width: 25px;
        height: 25px;
    }
    
    .cartao .nome-pokemon {
        max-width: 50%;
        font-size: 16px;
    }

    .cartao .vida-pokemon {
        max-width: 40%;
        font-size: 13px;
    }

    .cartao .descricao {
        font-size: 12px;
        block-size: 80%;
        max-height: 130px;
    }
    
    .cartao .descricao .d-texto {
        font-size: 13px;
        max-height: 75%;
    }

    .caixa-imagem {
        padding-left: 25px;
        
    }
}